* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}

.app {
  min-height: calc(100vh - 198px);
  padding: 0 16px !important;
}

.gmafIcon {
  margin-bottom: -1.3rem;
}
